 <div class="content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <img src="../../assets/img/bg.svg" alt="Image" class="img-fluid">
                </div>

                <div class="col-md-6 contents">
                  <div class="row justify-content-center">
                    <div class="col-md-8">
                      <div class="mb-4" >
                        <br> <br> <br>
                      <h3 style="font-size: 50px;">Reset Your password</h3>
                    </div>
                    <br><br>
                    <form [formGroup]="emailForm">
                      <div>
                       <input required class="form-control" name="email" type="email" placeholder="Email Address" formControlName="email">
                    </div>

                    <div class="d-flex mb-5 align-items-center">
                    </div>

                      <input type="submit" value="Log In" class="btn btn-block " (click)="send()" [disabled]="emailForm.invalid"
                      style="border-radius: 25px; background-color: #4b7bec; color: #fff;">
                      <div class="d-flex mb-5 align-items-center">
                        <span class="ml-auto"><a href="#" [routerLink]="['/login']" class="forgot-pass">Return To Login Page</a></span>
                      </div>
                    </form>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>
